
<body>
<br>
<br>


<center><ul class="pagination">
    <li><a href="/">1</a></li>
    <li><a href="/page2">2</a></li>
    <li><a href="/page3">3</a></li>
    <li><a href="/page4">4</a></li>
    <li><a href="/page5">5</a></li>
    <li><a href="/page6">6</a></li>
    <li><a href="/page7">7</a></li>
    <li><a href="/page8">8</a></li>
    <li><a href="/page9">9</a></li>
    <li><a href="/page10">10</a></li>
    <li><a href="/page11">11</a></li>
    <li><a href="/page12">12</a></li>
    <li><a href="/page13">13</a></li>
    <li><a href="/page14">14</a></li>
    <li><a href="/page15">15</a></li>
    <li><a href="/page16">16</a></li>
    <li><a href="/page17">17</a></li>
    <li><a href="/page18">18</a></li>
</ul></center>




<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Price</th>
            <th>Total Market Cap Value</th>
            <th>Transactions</th>
            <th>Delete</th>


        </tr>
        </thead>

        <script>
            moment({{this.timestamp}}).format('YYYY MM DD');
        </script>

        <tbody>

        {{#each etherprice}}


            <tr>
                <td>{{this.timestamp}}</td>
                <td>${{this.price_USD}}</td>
                <td>${{this.market-cap-value}}</td>
                <td>{{this.transactions}}</td>

                <td><form action="/delete/" method="POST">
                    <input type="hidden" name="timestamp" value="{{this.timestamp}}" />
                    <button type="submit">X</button>
                </form></td>

            </tr>


        {{/each}}


        </tbody>

    </table>

    <form method="post" action="">
        <table class="table">
            <input type="hidden" name="id" value="{{this.timestamp}}"/>


            <tr>
                <td><input type="date" name="date" placeholder="Date"></td>
                <td><input type="text" name="price" placeholder="Price"></td>
                <td><input type="text" name="marketCap" placeholder="Total Market Cap Value"></td>
                <td><input type="text" name="transactions" placeholder="Transactions"></td>
            </tr>
        </table>
        <div>
            <center><input type="submit" name="Save"/></center>
        </div>
    </form>

</div>



</body>
</html>

